@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header{
  z-index: 1;
  position: fixed;
  background: #22242A;
  padding: 30px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin: 0;
  margin-top: -35px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #00BFA6;
}

.logout_btn{
  padding: 5px 15px 5px 15px;
  background: #00BFA6;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
  cursor: pointer;
}

.logout_btn:hover{
  background: #068a78;
}

.sidebar{
  z-index: 1;
  top: 0;
  background: #2f323a;
  margin-top: 60px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #00BFA6;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: -17px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #00BFA6;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

.content .card p{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

form {
  margin: 20px auto 40px;
  border-radius: 5px;
  padding: 30px 40px 40px 40px;
  font-size: 1.1em;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 17px;
  padding: 15px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}

input:focus {
  border-color: #00BFA6;
}

textarea {
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 17px;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
    margin-bottom: 15px;
  }
  
  textarea:focus {
    border-color: #00BFA6;
  }

label {
  color: #00BFA6;
  font-weight: bold;
}

.buttonAdd {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #00BFA6;
  border-radius: 30px;
  width: 100%;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.buttonAdd:hover {
  background-color: #09a08c;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    color: #00BFA6;
}

h3 {
	font-weight: bold;
  color: #00BFA6;
}


h2 {
    margin-top: 40px;
  color: #00BFA6;
	text-align: center;
}

h5 {
    margin-top: 40px;
    color: #00BFA6;
	  text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 1px dotted #057062;
    border-radius: 35px;
    padding: 20px;
}
  
.mobLogo {
  display: none;
}

@media screen and (max-width: 780px){
  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background: #222;
    width: (100% - 0px);
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover{
    color: #00BFA6;
  }

  .mobile_nav_items{
    background: #2F323A;
    display: none;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #00BFA6;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    display: block;
  }
}