<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Sidebar Dashboard Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>

    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>Go<span>Vitae</span></h3>
      </div>
      <div class="right_area">
        <a (click)="logout()" class="logout_btn">Logout</a>
      </div>
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="../../../assets/img/profile.png" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a href="/dashboard"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
        <a href="/addCourse"><i class="fas fa-cogs"></i><span>Add Course</span></a>
        <a href="/addProject"><i class="fas fa-cogs"></i><span>Add Project</span></a>
        <a href="/generateCV"><i class="fas fa-th"></i><span>Generate CV</span></a>
        <a href="/unverifiedBlocks"><i class="fas fa-link"></i><span>Unverified Blocks</span></a>
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <img src="../../../assets/img/profile.png" class="profile_image" alt="">
        <h4 *ngIf="User != null">{{User.username}}</h4>
      </div>
      <a href="/dashboard"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="/addCourse"><i class="fas fa-cogs"></i><span>Add Course</span></a>
      <a href="/addProject"><i class="fas fa-cogs"></i><span>Add Project</span></a>
      <a href="/generateCV"><i class="fas fa-th"></i><span>Generate CV</span></a>
      <a href="/unverifiedBlocks"><i class="fas fa-link"></i><span>Unverified Blocks</span></a>
    </div>
    <!--sidebar end-->

    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="form-horizontal">
              <form  [formGroup]="playerForm" class="create-form" (ngSubmit)="onSubmit()">
                <h5 class="text-center" style="margin-bottom: 60px;">Add Course</h5>
                <div class="form-group">
                    <input type="text" placeholder="Course Code" formControlName="courseCode" required [ngClass]="{ 'is-invalid': submitted && myForm.courseCode.errors }">
                    <div *ngIf="submitted && myForm.courseCode.errors" class="invalid-feedback">
                      <div style="margin-left: 20px;" *ngIf="myForm.courseCode.errors.required">Course Code is required.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" placeholder="Course Name" formControlName="courseName" required [ngClass]="{ 'is-invalid': submitted && myForm.courseName.errors }">
                    <div *ngIf="submitted && myForm.courseName.errors" class="invalid-feedback">
                      <div style="margin-left: 20px;" *ngIf="myForm.courseName.errors.required">Course Name is required.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <select name="courseCHrs" formControlName="courseCHrs" required [ngClass]="{ 'is-invalid': submitted && myForm.courseGrade.errors }">
                      <option value="">Course Credit Hours</option>
                      <option *ngFor="let credit of credits" value="{{credit}}">{{credit}}
                      </option>
                    </select>
                    <div *ngIf="submitted && myForm.courseCHrs.errors" class="invalid-feedback">
                      <div style="margin-left: 20px;" *ngIf="myForm.courseCHrs.errors.required">Course Credit Hours is required.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <select name="courseGrade" formControlName="courseGrade" required [ngClass]="{ 'is-invalid': submitted && myForm.courseGrade.errors }">
                      <option value="">Course Grade</option>
                      <option *ngFor="let grade of grades" value="{{grade}}">{{grade}}
                      </option>
                    </select>
                    <div *ngIf="submitted && myForm.courseCHrs.errors" class="invalid-feedback">
                      <div style="margin-left: 20px;" *ngIf="myForm.courseCHrs.errors.required">Course Credit Hours is required.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" placeholder="Email of Verifier" formControlName="courseEmail" required [ngClass]="{ 'is-invalid': submitted && myForm.courseEmail.errors }">
                    <div *ngIf="submitted && myForm.courseEmail.errors" class="invalid-feedback">
                      <div style="margin-left: 20px;" *ngIf="myForm.courseEmail.errors.required">Verifier Email is required.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" placeholder="Email of Sender" formControlName="userEmail" required [ngClass]="{ 'is-invalid': submitted && myForm.userEmail.errors }">
                    <div *ngIf="submitted && myForm.userEmail.errors" class="invalid-feedback">
                      <div style="margin-left: 20px;" *ngIf="myForm.userEmail.errors.required">Sender Email is required.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Email of Password" formControlName="userPass" required [ngClass]="{ 'is-invalid': submitted && myForm.userPass.errors }">
                    <div *ngIf="submitted && myForm.userPass.errors" class="invalid-feedback">
                      <div style="margin-left: 20px;" *ngIf="myForm.userPass.errors.required">Sender Password is required.</div>
                    </div>
                </div>
      
                <div class="form-group">
                  <button type="submit" class="btn btn-lg buttonAdd">Add Course</button>
                </div>
      
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>